$vp-small: 650px;
$vp-large: 1000px;
$shadow: -2px -6px 15px #eee, 2px 6px 33px rgba(0, 0, 0, 0.2);
$bounce: all 250ms cubic-bezier(0.1, 0.3, 0.1, 1.3);

@mixin font {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
}

@mixin box {
  box-shadow: $shadow;
  border-radius: 30px;
  border: none;
  margin: 2rem 0.75rem 0.75rem 1rem;
  padding: 1rem;
}

@mixin button {
  &:hover {
    background: white;
    cursor: pointer;
  }
  &:active {
    box-shadow: inset -2px -2px 10px #fff,
      inset 2px 2px 10px rgba(0, 0, 0, 0.15);
    background: #bbb;
  }
}

* {
  box-sizing: border-box;
  button::-moz-focus-inner {
    border: 0;
  }
  ::selection {
    background: rgba(0, 0, 0, 0.85);
    color: white;
    text-shadow: none;
  }
}

body {
  @include font;
  transition: $bounce;
  font-size: 1.33vw;
  color: #333;
  padding: 1vw;
  background: whitesmoke;
  @media screen and (max-width: $vp-large) {
    font-size: 2.5vw;
  }
  @media screen and (max-width: $vp-small) {
    font-size: 1.2rem;
  }

  div.App {
    display: block;
    margin: 0;
    padding: 0;

    button {
      @include box;
      @include button;
      transition: $bounce;
      padding: 1rem;
      margin: 0.75rem;
      border: none;
    }

    select {
      @include button;
      appearance: none;
      border-radius: 1rem;
      border: none;
      box-shadow: $shadow;
      text-align: center;
      font-size: 1.25rem;
      padding: 0.5rem;
      margin: 0.5rem;
    }

    input[type="text"] {
      transition: $bounce;
      font-size: 1.25rem;
      border: none;
      margin: 1rem;
      padding: 1rem;
      border-bottom: 3px solid grey;
      &:focus {
        border-bottom: 3px solid skyblue;
      }
    }

    div {
      margin: 1rem;
      @media screen and (max-width: $vp-small) {
        margin: 0.5rem;
      }
    }

    button.settings-button {
      font-size: 1.75rem;
      padding: 1.5rem;
      display: block;
      width: max-content;
      @media screen and (max-width: $vp-small) {
        margin: auto;
        width: 80%;
        font-size: 1.5rem;
        padding: 1rem;
      }
    }

    div.settings {
      @include box;
      width: max-content;
      @media screen and (max-width: $vp-small) {
        margin: auto;
      }
      input[type="text"] {
        width: max-content;
      }
      form {
        display: flex;
        flex-direction: row;
        width: max-content;
        @media screen and (max-width: $vp-small) {
          flex-direction: column;
          align-content: flex-start;
        }
      }
    }

    div.chatbox-container {
      @include box;
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      padding: 1rem;
      width: max-content;
      margin: auto;
      @media screen and (max-width: $vp-small) {
        flex-direction: column;
        width: 100%;
      }
      p.nickname {
        margin: 1rem;
        font-size: 1.25rem;
        font-weight: bold;
        @media screen and (max-width: $vp-small) {
          display: none;
        }
      }

      textarea {
        @include font;
        transition: $bounce;
        border: none;
        border-bottom: 3px solid grey;
        width: 60vw;
        font-size: 16px;
        display: block;
        &:focus {
          border-bottom: 3px solid skyblue;
        }
        @media screen and (max-width: $vp-small) {
          margin: auto;
          padding: 1rem;
          width: 90%;
        }
      }
      @media screen and (max-width: $vp-small) {
        width: 90%;
      }
    }

    div.messages {
      @include box;
      padding: 2rem;
      @media screen and (max-width: $vp-small) {
        padding: 1rem;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        max-height: 60vh;
        overflow-y: auto;
        li {
          overflow-wrap: break-word;
          padding: 1rem;
          background: whitesmoke;
          &:nth-child(odd) {
            background: lightgrey;
          }
        }
      }
    }
  }
}
