* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* button::-moz-focus-inner {
  border: 0;
}

* ::-moz-selection {
  background: rgba(0, 0, 0, 0.85);
  color: white;
  text-shadow: none;
}

* ::selection {
  background: rgba(0, 0, 0, 0.85);
  color: white;
  text-shadow: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  -webkit-transition: all 250ms cubic-bezier(0.1, 0.3, 0.1, 1.3);
  transition: all 250ms cubic-bezier(0.1, 0.3, 0.1, 1.3);
  font-size: 1.33vw;
  color: #333;
  padding: 1vw;
  background: whitesmoke;
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 650px) {
  body {
    font-size: 1.2rem;
  }
}

body div.App {
  display: block;
  margin: 0;
  padding: 0;
}

body div.App button {
  -webkit-box-shadow: -2px -6px 15px #eee, 2px 6px 33px rgba(0, 0, 0, 0.2);
          box-shadow: -2px -6px 15px #eee, 2px 6px 33px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  border: none;
  margin: 2rem 0.75rem 0.75rem 1rem;
  padding: 1rem;
  -webkit-transition: all 250ms cubic-bezier(0.1, 0.3, 0.1, 1.3);
  transition: all 250ms cubic-bezier(0.1, 0.3, 0.1, 1.3);
  padding: 1rem;
  margin: 0.75rem;
  border: none;
}

body div.App button:hover {
  background: white;
  cursor: pointer;
}

body div.App button:active {
  -webkit-box-shadow: inset -2px -2px 10px #fff, inset 2px 2px 10px rgba(0, 0, 0, 0.15);
          box-shadow: inset -2px -2px 10px #fff, inset 2px 2px 10px rgba(0, 0, 0, 0.15);
  background: #bbb;
}

body div.App select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 1rem;
  border: none;
  -webkit-box-shadow: -2px -6px 15px #eee, 2px 6px 33px rgba(0, 0, 0, 0.2);
          box-shadow: -2px -6px 15px #eee, 2px 6px 33px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

body div.App select:hover {
  background: white;
  cursor: pointer;
}

body div.App select:active {
  -webkit-box-shadow: inset -2px -2px 10px #fff, inset 2px 2px 10px rgba(0, 0, 0, 0.15);
          box-shadow: inset -2px -2px 10px #fff, inset 2px 2px 10px rgba(0, 0, 0, 0.15);
  background: #bbb;
}

body div.App input[type="text"] {
  -webkit-transition: all 250ms cubic-bezier(0.1, 0.3, 0.1, 1.3);
  transition: all 250ms cubic-bezier(0.1, 0.3, 0.1, 1.3);
  font-size: 1.25rem;
  border: none;
  margin: 1rem;
  padding: 1rem;
  border-bottom: 3px solid grey;
}

body div.App input[type="text"]:focus {
  border-bottom: 3px solid skyblue;
}

body div.App div {
  margin: 1rem;
}

@media screen and (max-width: 650px) {
  body div.App div {
    margin: 0.5rem;
  }
}

body div.App button.settings-button {
  font-size: 1.75rem;
  padding: 1.5rem;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media screen and (max-width: 650px) {
  body div.App button.settings-button {
    margin: auto;
    width: 80%;
    font-size: 1.5rem;
    padding: 1rem;
  }
}

body div.App div.settings {
  -webkit-box-shadow: -2px -6px 15px #eee, 2px 6px 33px rgba(0, 0, 0, 0.2);
          box-shadow: -2px -6px 15px #eee, 2px 6px 33px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  border: none;
  margin: 2rem 0.75rem 0.75rem 1rem;
  padding: 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media screen and (max-width: 650px) {
  body div.App div.settings {
    margin: auto;
  }
}

body div.App div.settings input[type="text"] {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

body div.App div.settings form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media screen and (max-width: 650px) {
  body div.App div.settings form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
}

body div.App div.chatbox-container {
  -webkit-box-shadow: -2px -6px 15px #eee, 2px 6px 33px rgba(0, 0, 0, 0.2);
          box-shadow: -2px -6px 15px #eee, 2px 6px 33px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  border: none;
  margin: 2rem 0.75rem 0.75rem 1rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}

@media screen and (max-width: 650px) {
  body div.App div.chatbox-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

body div.App div.chatbox-container p.nickname {
  margin: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}

@media screen and (max-width: 650px) {
  body div.App div.chatbox-container p.nickname {
    display: none;
  }
}

body div.App div.chatbox-container textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  -webkit-transition: all 250ms cubic-bezier(0.1, 0.3, 0.1, 1.3);
  transition: all 250ms cubic-bezier(0.1, 0.3, 0.1, 1.3);
  border: none;
  border-bottom: 3px solid grey;
  width: 60vw;
  font-size: 16px;
  display: block;
}

body div.App div.chatbox-container textarea:focus {
  border-bottom: 3px solid skyblue;
}

@media screen and (max-width: 650px) {
  body div.App div.chatbox-container textarea {
    margin: auto;
    padding: 1rem;
    width: 90%;
  }
}

@media screen and (max-width: 650px) {
  body div.App div.chatbox-container {
    width: 90%;
  }
}

body div.App div.messages {
  -webkit-box-shadow: -2px -6px 15px #eee, 2px 6px 33px rgba(0, 0, 0, 0.2);
          box-shadow: -2px -6px 15px #eee, 2px 6px 33px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  border: none;
  margin: 2rem 0.75rem 0.75rem 1rem;
  padding: 1rem;
  padding: 2rem;
}

@media screen and (max-width: 650px) {
  body div.App div.messages {
    padding: 1rem;
  }
}

body div.App div.messages ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 60vh;
  overflow-y: auto;
}

body div.App div.messages ul li {
  overflow-wrap: break-word;
  padding: 1rem;
  background: whitesmoke;
}

body div.App div.messages ul li:nth-child(odd) {
  background: lightgrey;
}
/*# sourceMappingURL=App.css.map */