$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
  Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

$vp-small: 650px;
$vp-large: 1000px;
$shadow: -2px -6px 15px #eee, 2px 6px 33px rgba(0, 0, 0, 0.15);
//@media screen and max-width($vp-small){}

@mixin box {
  box-shadow: $shadow;
  border-radius: 30px;
  border: none;
}

@mixin button {
  &:hover {
    background: #eee;
    cursor: pointer;
  }
  &:active {
    box-shadow: inset -2px -2px 10px #fff,
      inset 2px 2px 10px rgba(0, 0, 0, 0.15);
    background: #bbb;
  }
}

* {
  box-sizing: border-box;
  transition: all 250ms cubic-bezier(0.1, 0.3, 0.1, 1.3);
  button::-moz-focus-inner {
    border: 0;
  }
  ::selection {
    background: rgba(0, 0, 0, 0.85);
    color: white;
    text-shadow: none;
  }
}

body {
  font-family: $font;
  font-size: 1.25vw;
  color: #333;
  padding: 1vw;
  @media screen and (max-width: $vp-large) {
    font-size: 2vw;
  }
  @media screen and (max-width: $vp-small) {
    font-size: 1.25rem;
  }
}

div.App {
  display: block;
  margin: 0;
  padding: 0;

  button {
    @include box;
    @include button;
    padding: 1rem;
    margin: 0.75rem;
    background: white;
    border: none;
  }

  select {
    @include button;
    appearance: none;
    border-radius: 1rem;
    border: none;
    box-shadow: $shadow;
    text-align: center;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem;
  }

  input[type="text"] {
    font-size: 1.25rem;
    border: none;
    margin: 1rem;
    border-bottom: 3px solid grey;
    &:focus {
      border-bottom: 3px solid skyblue;
    }
  }

  div {
    margin: 1rem;
    @media screen and (max-width: $vp-small) {
      margin: 0.5rem;
    }
  }

  button.settings-button {
    font-size: 1.75rem;
    padding: 1.2rem;
  }

  div.settings {
    @include box;
    padding: 1vw;
    width: max-content;
    input[type="text"] {
      width: max-content;
    }
    form {
      display: flex;
      flex-direction: row;
      width: max-content;
      @media screen and (max-width: $vp-small) {
        flex-direction: column;
        align-content: flex-start;
      }
    }
  }

  div.chatbox-container {
    @include box;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 1rem;
    width: max-content;
    margin: auto;

    p.nickname {
      margin: 1rem;
      font-size: 1.25rem;
      font-weight: bold;
      @media screen and (max-width: $vp-small) {
        display: none;
      }
    }

    textarea {
      border: none;
      border-bottom: 3px solid grey;
      width: 60vw;
      font-family: $font;
      font-size: 16px;
      display: block;
      &:focus {
        border-bottom: 3px solid skyblue;
      }
      @media screen and (max-width: $vp-small) {
        width: 40vw;
      }
    }
    @media screen and (max-width: $vp-small) {
      width: 90%;
    }
  }

  div.messages {
    @include box;
    padding: 2rem;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      max-height: 60vh;
      overflow-y: auto;
      li {
        padding: 1rem;
        background: whitesmoke;
        &:nth-child(odd) {
          background: lightgrey;
        }
      }
    }
    @media screen and (max-width: $vp-small) {
      padding: 1rem;
    }
  }
}
