$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
  Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

$vp-small: 650px;
//@media screen and max-width($vp-small){}

@mixin box {
  box-shadow: -2px -6px 15px #eee, 2px 6px 33px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  border: none;
}

* {
  box-sizing: border-box;
  transition: all 250ms cubic-bezier(0.1, 0.3, 0.1, 1.3);
  button::-moz-focus-inner {
    border: 0;
  }
}

body {
  font-family: $font;
  font-size: 1.33vw;
  color: #333;
  padding: 1vw;
  @media screen and (max-width: $vp-small) {
    font-size: 1.25rem;
  }
}

div.App {
  display: block;
  margin: 0;
  padding: 0;

  button {
    @include box;
    padding: 1rem;
    margin: 0.5rem;
    background: white;
    border: none;
    &:hover {
      background: #eee;
    }
    &:active {
      box-shadow: inset -2px -2px 10px #fff,
        inset 2px 2px 10px rgba(0, 0, 0, 0.15);
      background: #bbb;
    }
  }

  input[type="text"] {
    font-size: 1.25rem;
    border: none;
    margin: 1rem;
    border-bottom: 3px solid grey;
    &:focus {
      border-bottom: 3px solid skyblue;
    }
  }

  div {
    margin: 1rem;
    @media screen and (max-width: $vp-small) {
      margin: 0.5rem;
    }
  }

  button.settings-button {
    font-size: 1.25rem;
  }

  div.settings {
    @include box;
    padding: 1rem;
    width: max-content;
    input[type="text"] {
      width: 20vw;
    }
  }

  div.chatbox-container {
    @include box;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 1rem;
    width: max-content;
    margin: auto;

    p.nickname {
      margin: 1rem;
      font-size: 1.25rem;
      font-weight: bold;
      @media screen and (max-width: $vp-small) {
        display: none;
      }
    }

    textarea {
      border: none;
      border-bottom: 3px solid grey;
      width: 60vw;
      font-family: $font;
      display: block;
      &:focus {
        border-bottom: 3px solid skyblue;
      }
      @media screen and (max-width: $vp-small) {
        width: 40vw;
      }
    }
    @media screen and (max-width: $vp-small) {
      width: 90%;
    }
  }

  div.messages {
    @include box;
    padding: 2rem;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        padding: 1rem;
        background: whitesmoke;
        &:nth-child(odd) {
          background: lightgrey;
        }
      }
    }
    @media screen and (max-width: $vp-small) {
      padding: 1rem;
    }
  }
}
